
* {
  padding-top: 2px;
}
body {
  height: 100vh;
}

.home-background {
  background-image: url('./images/castle.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.resources-background {
  background: linear-gradient(45deg, black 30%, yellow, black 70%);
  height: 100vh;
}

.resources-header {
  color: yellow;
}

.character-sheets-header{
  color: rgb(182, 170, 170);
}

.character-sheets-background {
  background: linear-gradient(135deg, red 10%, black 40%, red 90%);
  height: 100vh;
}

.dmHelper {
  color: black
}

.form-group {
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.form-control {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.login_btn {
  border-radius: 40%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  color: black;
}

.home_btn {
  display: flex;
  
  
}

.imageContainer {
  margin: 50px;
  align-items: center;
}

.uploadedImages {
  height: 300px;
  margin: 10px;
}

.characterSheets {
  width: 300px;
  margin: 10px;
}

.active {
  background-color: white;
  color: gray;
}

.active:hover {
  color:red;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ;
  position: sticky;
  top: 0;
}

.navBtn {
  background-color: transparent;
  border: none;
}

nav ul {
  display: flex;
}

nav ul.open {
  display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: rgb(119, 109, 109);
  color: white;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2/25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;

  }
}

nav ul li {
  width: 100;
  text-align: center;
}

nav ul li a {
  margin: 0.2rem 0.5rem;
}

.logout_btn {
  color: black;
  background-color: rgb(59, 59, 59);
}